# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Distribution
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Ignore scratchpad notebooks
scratchpad/
*.ipynb
.ipynb_checkpoints/